/MyAssignment/nbproject/private/
/MyAssignment/build/
/Demo_10_10/nbproject/private/
/Demo_10_10/build/
/MyAssignment/dist/
/MyAssignment_1/nbproject/private/
/MyAssignment_1/build/
/MyAssignment_1/dist/
