body {
    background-color: #f1f2f7;
}

ul li {
    list-style: none;
}

.nav-pc {
    display: flex;
    justify-content: space-between;
    text-align: center;
    height: 3em;
    width: 100%;
    background-image: linear-gradient(to right, rgb(201, 41, 198) ,rgb(28, 63, 205));
    position: fixed;
    z-index: 100;
}

.nav-pc a {
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: aliceblue;
    text-decoration: none;
    padding: 0.7em 0.7em;
}

.nav-pc .nav-link-pc {
    padding-bottom: 15px;
    position: relative;
    color: white !important;
}

.nav-pc-left{
    display: flex;
    text-align: center;

}
.nav-pc-left a:hover{

}
.nav-pc-left i{
    color: white;
}
.nav-pc .nav-link-pc::before {
    content: "";
    position: absolute;
    height: 4px;
    width: 0;
    bottom: 0;
    background-color: orange;

    /* animation center */
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.5s ease;
}

.nav-pc .nav-link-pc:hover:before {
    width: 80%;
}
.nav-item {
    position: relative;
    top: 1em;
    z-index: 2;
    margin-top: 2em;
    color: #000;
    font-size: 22px;

}

.nav-item a {
    text-decoration: none;
    color: #000;
    margin-left: 1em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.nav-bars-btn {
    z-index: 50;
    position: fixed;
    width: 100%;
    background-image: linear-gradient(to right,rgb(201, 41, 198) , rgb(28, 63, 205));
}

.menu-item-btn {
    position: relative;
    margin: 0.5em;
    right: 0px;
    font-size: 22px;
    border: 2px solid #fff;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    z-index: 3;
}

.close-menu {
    margin-top: 0.5em;
    margin-right: 0.5em;
    float: right;
    font-size: 22px;
    color: rgb(85, 85, 85);
    padding: 0.25em;
    margin: 0.25em;
    line-height: 22px;
    border: 2px solid rgb(85, 85, 85);
    border-radius: 6px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top: 3em;
    margin-left: -7.5em;
}

.dropdown-content a {
    color: black;
    padding: 5px 16px;
    text-decoration: none;
    text-align: left;
    display: block;
    font-size: 14px;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.welcome{
    margin: 20px;
}
.main-content-home{
    margin: 40px auto;
    padding: 20px 10px;
}
#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
}
.left ul li{
    padding: 5px;
    margin-bottom: 0.1em;
    border: 2px solid rgb(201, 41, 198);
    border-radius: 9px;
}
.left ul li a{
    color: black;
    text-decoration: none;
    font-family: cursive;
    font-size: 16px;
    font-weight: bold;
}
.left ul li a:hover{
    color: white;
}
.left ul li:hover{
    background-color: rgb(201, 41, 198);
}
.item{
    border: 2px solid background;
    border-radius: 9px;
    padding: 10px;
}
.item:hover{
    border: 2px solid orangered;
    border-radius: 9px;
}

.login-form{
    width: 30%;
    margin: 8em auto;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 9px;
    text-align: center;
}
.login-form h2{
    text-align: center;
}
.login-button{
    border-radius: 30px;
    border: 2px solid orangered;
    background-color: white;
    font-size: 25px;
    font-family: cursive;
    font-weight: bold;
    width: 45%;
    cursor: pointer;
}
.login-form .input-data{
    margin: 15px 0 15px 0;
    width: 100%;
}
.input-data input{
    padding: 8px;
    width: 80%;
}
.login-title{
    background-color: orangered;
    color: white;
    font-family: cursive;
    margin: 0 -15px 0 -15px;
}
.login-input-data{
    margin: 20px 0 20px 0;
}
.dhead{
    text-align: center;
    margin: 3px 0px 3px 0px;
    background-image: linear-gradient(to left, rgb(201, 41, 198) ,rgb(28, 63, 205));
}
.table{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.table a{
    font-size: 15px;
    text-decoration: none;
    font-weight: normal;
    font-weight: bold;
}
table tr td {
    border:1px solid background;
    padding: 3px 20px;
}

.table .htable{
    background-image: linear-gradient(to left, rgb(201, 41, 198) ,rgb(28, 63, 205));
    color: white;
    text-align: center;
}

.attended {
    text-decoration: none;
    color: green;
}
.not_yet {
    text-decoration: none;
    color: red;
}
.timeslot{
    text-align: left;
}
.tdes{
    color: #f08e01;
    text-decoration: none;
}
.tname{
    font-weight: bold;
    color:black;
    text-decoration: none;
}

.table-details{
    border-radius: 9px;
    overflow: hidden;
    white-space: nowrap;
    margin: 5px auto;
}

.table-details .dhead{
    color: white;
    background-image: linear-gradient(to left, rgb(201, 41, 198) ,rgb(28, 63, 205));
}
.table-details img{
    width: 20px;
}
.group-details{
    display: block;
    text-align: center;
    padding: 10px;
    height: auto;
    overflow: auto;
}
.gcontent{
    text-align: center;
}
.gcontent a{
    text-decoration: none;
}
.gcontent a:hover{
    color: #feb52a;
}
.main-content{
    width: 60%;
    margin: 50px auto;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 9px;
    padding: 30px 10px;
}
.getGroupAndSlot{
    margin: 40px auto;
}
.main-content a{
    text-decoration: none;
}
.input-info select{
    border-radius: 8px;
    padding: 3px;
    text-align: center;
}
.avt_img img{
    width: 150px;
    height: auto;
}

.add_button{
    width: 50px;
    margin: 0 auto;
}
.add_button input{
    border-radius: 7px;
    background-color: #6b90da;
    color: white;
    border: 1px solid white;
}